button.btn {
  background-color: var(--theme-background);
  color: var($--theme-on-surface);
  border: 2px solid var($--theme-on-surface);
  border-radius: 0;
  @include typography-body-3;
  text-transform: uppercase;
  font-weight: $bold;
  padding: 8px;
}

button.btn:hover {
  background-color: var($--theme-on-surface);
  color: var(--theme-background);
  border: none;
}
.language-picker-wrapper > button.btn {
  margin: 0 8px;
}
.language-picker-wrapper {
  margin-left: -8px;
}

.btn.language-selector {
  &.selected {
    background-color: var(--theme-on-surface);
    color: var($--theme-background);
    border: 2px solid var($--theme-on-surface);
  }
}