@use 'typography';
@use 'variables';

button.btn {
  background-color: var(--theme-background);
  // color: var(--theme-on-surface); 
  // border: 2px solid var(--theme-on-surface); 
  color: hotpink;
  border: 2px solid red;
  border-radius: 0;
  @include typography.typography-body-3;
  text-transform: uppercase;
  font-weight: variables.$bold;
  padding: 8px;
}

button.btn:hover {
  // background-color: var($--theme-on-surface); TK
  background-color: hotpink;
  color: var(--theme-background);
  border: none;
}
.language-picker-wrapper > button.btn {
  margin: 8px;
}
.language-picker-wrapper {
  margin-left: -8px;
}

.btn.language-selector {
  &.selected {
    background-color: var(--theme-on-surface);
    // color: var($--theme-background); TK
    // border: 2px solid var($--theme-on-surface); TK
    color: hotpink;
    border: 2px solid hotpink;
  }
}