@use 'typography';
@use 'variables';

.event-container {
  .event-title {
    @include typography.typography-body-4;
    font-weight: variables.$bold;
  }
}

.event-body {
  margin-top: 1rem;

  .event-btn-links {
    padding-top: 1rem;

    a {
      margin-bottom: 1rem;
    }
  }
}