.event-container {
  .event-title {
    @include typography-body-4;
    font-weight: $bold;
  }
}

.event-body {
  margin-top: 1rem;

  .event-btn-links {
    padding-top: 2rem;

    a {
      margin-bottom: 1rem;
    }
  }
}