footer {
  min-height: 18rem;
  position: relative;

  &.notched--border {
    display: grid;
  }

  .form-container {
    margin-bottom: 3.5rem;
  }

  .signup-submit-wrapper {
    margin-bottom: 0;
  }

  .submit-btn {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .form-message {
    position: absolute;
  }

  .footer-img {
    a {
      @include breakpoint($large) {
        width: fit-content;
        padding: 1rem 4rem;
      }
    }

    .link--notched {
      display: block;
      margin-bottom: 1rem;

      @include breakpoint($large) {
        width: 20rem;
      }
    }
  }
}

.footer__logo {
  height: 100%;
  width: auto;
  max-width: 20rem;

  @include breakpoint($large) {
    max-width: 24rem;
  }
}

// .footer__logo-wrapper {
// width: 100%;
// }

footer.footer {
  .signup-label {
    @include typography-body-2;
    font-size: 1.5rem;
    font-weight: $bold;
  }

  .signup-input {
    @include button-styles;
  }

  .signup-input {
    background-color: var(--theme-background);
    color: var(--theme-on-background);
    display: inline;
    margin: 0.5rem;
    padding: 0.75rem;
    width: calc(100% - 1rem);

    &::placeholder {
      text-transform: uppercase;
      font-weight: $bold;
      color: var(--theme-on-background);
    }
  }

  .signup-submit-wrapper {
    display: inline;
    padding: 0;
    width: 100%;

    .signup-submit {
      @include typography-body-3;
      font-weight: $bold;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      &:hover {
        @include notched-div-hover-state;
      }
    }
  }
}

.footer-form {

  position: relative;

  @include breakpoint($large) {
    padding-left: 3rem;
  }

  .socials {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;

    @include breakpoint($medium-only) {
      // position: static;
    }

    .fab {
      font-size: 1.5rem;
    }
  }

}