@use 'typography';
@use 'breakpoints';
@use 'variables';
@use 'mixins';
@use 'link';

form.certify {
  a {
    @include link.link-dotted;
  }
  @include typography.typography-body-3;
  .form_question {
    @apply my-4;
  }
  fieldset {
    padding: 0;
  }
  input[type='text'],
  textarea,
  select {
    @apply w-full;
    height: 2rem;
    border-radius: 0;
    border-bottom: 2px solid;
    border-color: var(--theme-on-surface);
    opacity: 0.5;
    font-style: italic;
    height: 3rem;
    background-color: var(--theme-background);
    color: var(--theme-on-surface);
    padding-right: 2rem;
  }

  input[type='submit'] {
    width: initial !important;
  }

  select,
  .select {
    padding: 0;
    position: relative;
    width: 100%;
  }
  .instructions,
  .error-message {
    margin: 4px 0;
    @include typography.typography-caption;
  }

  .form-hidden {
    display: none;
  }
  .form-half {
    @apply grid grid-cols-2 gap-8;
    label,
    div {
      @apply col-span-2 lg:col-span-1;
    }
  }
  .form-half .instructions {
    @apply w-full;
  }

  .form-full-stacked {
    @apply flex flex-col w-full;
  }
  .form-half-stacked {
    @apply flex flex-col lg:w-1/2;
  }

  .form-third {
    @apply flex flex-col w-1/3;
  }

  .form-one-third {
    @apply grid  grid-cols-1 lg:grid-cols-3 gap-6 [&>*:first-child]:col-span-1 [&>*:nth-child(2)]:col-span-2;
  }

  .form-three-fourths {
    @apply w-3/4;
  }
  .form-inline {
    @apply w-1/4;
    display: inline;
  }
  .form-four-fifths {
    @apply grid grid-cols-5 gap-6 [&>*:first-child]:col-span-4 [&>*:nth-child(2)]:col-span-1;
  }
  .form-width {
    @apply flex flex-col justify-between max-w-6xl mx-auto px-4;
  }

  .bold {
    .label-bold,
    label:not(.checkbox-label) {
      font-weight: 600;
    }
  }
  .checkbox {
    padding-left: 0;
  }
  .checkbox label {
    padding: 0 0 0 20px;
  }
  .instructions {
    font-style: italic;
  }
}

.error-message {
  color: red;
}

.react-select__control {
  border: none !important;
  border-radius: 0;
  border-bottom: 2px solid !important;
  border-color: var(--theme-on-surface);
  opacity: 0.5;
  background-color: var(--theme-background) !important;
  color: var(--theme-on-surface);
}
.react-select__input-container {
  color: var(--theme-on-surface);
}
.react-select__menu {
  background-color: var(--theme-background) !important;
  color: var(--theme-on-surface);
}
.react-select__option--is-focused {
  background-color: var(--theme-background) !important;
  opacity: 0.5 !important;
}
.react-select__indicator-separator {
  visibility: hidden;
}
.react-select__placeholder {
  margin-left: 0;
}
.react-select__value-container {
  padding-left: 0;
}