@use 'breakpoints';
@use 'typography';

.generic-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;


  p:first-of-type {
    padding-top: 2rem;
  }

  .program-title {
    @include typography.typography-body-6;
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }

  .location {
    @include typography.typography-body-6;
    padding-top: 1rem !important;
  }
}

.header-img-container {
  @include breakpoints.breakpoint(medium-only) {
    min-height: 20rem;
  }

  @include breakpoints.breakpoint(small-only) {
    min-height: 20rem;
  }
}