.generic-container {
  margin-top: 2rem;

  .sidebar-image {
    @include breakpoint ($medium-only) {
      margin-top: 2rem;
    }

    &__container {
      margin-bottom: 2rem;
    }

    &__description {
      font-style: italic;
      padding-top: 5px;
    }
  }
}