.index-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include breakpoint($medium-only) {
    display: block;
    position: relative;
  }
}

.index-image-container {
  display: flex;
  justify-content: space-between;

  @include breakpoint($medium-only) {
    padding-top: 10rem;
  }

  a {
    align-self: end;

    @include breakpoint($medium-only) {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }

  .main-logo {
    width: 60%;

    @include breakpoint($medium-only) {
      position: absolute;
      bottom: 4.5rem;
      left: 1.5rem;
      width: 75%;
    }
  }
}

.featured-box {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // @include breakpoint($medium-only) {
  //   margin-top: 1rem;
  // }

  &__title {
    @include typography-headline-3;
    font-weight: $bold;
  }

  &__date {
    @include typography-button;
    font-weight: $bold;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 2rem;
  }
}

.project-highlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__count {
    @include typography-headline-1;
    font-family: 'Antonio', sans-serif;
    font-size: 130px;
    line-height: 1;
    padding-bottom: 2rem;

    @include breakpoint($between-large) {
      font-size: 65px;
    }

    @include breakpoint($medium-only) {
      font-size: 90px;
    }

    @include breakpoint($small-only) {
      font-size: 130px;
    }
  }

  &__text {
    @include typography-body-2;
    font-weight: $bold;
    line-height: 1.3;

    @include breakpoint($medium-only) {
      margin-bottom: 10rem;
    }
  }

  .link--arrow {
    align-self: end;
  }
}

.map-container {
}

.section-card {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    @include typography-headline-3;
  }

  &__image {
    width: 28%;

    @include breakpoint($medium-only) {
      width: 20%;
    }

    @include breakpoint($small-only) {
      width: 24%;
    }
  }
}
.section-card {
  &:hover {
    .section-card__image {
      display: none !important;
    }
  }
}
