.link {

}

.link--arrow {
  @include typography-button;
  font-weight: $bold;
  &::after {
    content: url('../images/icons/arrow_forward_black_24dp.svg');
    vertical-align: -5px;
    margin-left: 4px;
  }
  &:hover {
    filter: opacity(50%);
  }
  &.inverted {
    &::after {
      content: url('../images/icons/arrow_forward_white_24dp.svg');
    }
  }
}