@use 'variables';
@use 'typography';
@use 'mixins';

.link--arrow {
  @include typography.typography-button;
  font-weight: variables.$bold;

  &::after {
    content: url('../images/icons/arrow_forward_black_24dp.svg');
    vertical-align: -5px;
    margin-left: 4px;
  }

  &:hover {
    filter: opacity(50%);
  }

  &.inverted {
    &::after {
      content: url('../images/icons/arrow_forward_white_24dp.svg');
    }
  }
  &.light-inverted {
    color: var(--theme-on-secondary);
  }
}

.arrow-white {
  &::after {
    content: url('../images/icons/arrow_forward_white_24dp.svg');
  }
}

.arrow-black {
  &::after {
    content: url('../images/icons/arrow_forward_black_24dp.svg') !important;
  }
}

.link--notched {
  @include typography.typography-button;
  font-weight: variables.$bold;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem;
  text-align: center;

  &:hover {
    @include mixins.notched-div-hover-state;
  }

  &.inverted {
    &:hover {
      background-color: red;
      @include mixins.notched-div-hover-state;
    }
  }
}
