@use 'typography';
@use 'breakpoints';
@use 'variables';
@use 'mixins';

.filter-item {
  padding: 1rem 0;
  @include typography.typography-body-6;

  &__label {
    display: block;
    margin-bottom: 0.35rem;
    font-weight: variables.$bold;
  }

  &__text-input {
    font-weight: 200;
    font-size: 1.2rem;
    font-style: italic;
    width: 100%;
    height: 2rem;
    background-color: var(--theme-background);
    color: var(--theme-on-surface);
    border-bottom: 1px dotted var(--theme-on-surface);
  }

  &__text-input-wrap {
    position: relative;
    width: 100%;

    &::before {
      @extend .u-material-icons;
      content: 'search';
      position: absolute;
      right: 0rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--theme-on-surface);
      pointer-events: none;
      font-size: 1.3rem;
    }

    @include breakpoints.breakpoint(medium-only) {
      width: 95%;
    }

    @include breakpoints.breakpoint(small-only) {
      width: 100%;
    }
  }

  select {
    // remove default arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    @include typography.typography-body-6;
    height: 2rem;
    background-color: var(--theme-background);
    color: var(--theme-on-surface);
    padding-right: 2rem;

    @include breakpoints.breakpoint(small-only) {
      width: 100%;
    }
  }
}

.select-wrapper {
  position: relative;
  width: fit-content;

  &::after {
    @extend .u-material-icons;
    content: 'expand_more';
    position: absolute;
    right: 0;
    top: 5px;
  }
}

.filters,
.filter-bar {
  &__filter {
    &--clear {
      @include typography.typography-body-6;
      border-radius: 0;
      height: auto;
      text-align: right;
      padding: 1rem 0;
      display: block;
      margin-left: auto;
    }
  }
}

.filter-container {
  padding: initial;
}

.filter-item,
.filters__filter--clear {
  .select-wrapper {
    position: relative;
    width: calc(100% - 16px);

    @include breakpoints.breakpoint(small-only) {
      width: 100%;
    }
  }
}

.filter-item--clear-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list {
  .list-item {
    min-height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoints.breakpoint(medium-only) {
      min-height: 20rem;
    }

    .title {
      font-size: 1.7rem;
      font-weight: 600;
      overflow-wrap: break-word;

      @include breakpoints.breakpoint(between-large) {
        font-size: 1.4rem;
      }

      @include breakpoints.breakpoint(medium-only) {
        font-size: 1.6rem;
      }
    }

    .type {
      bottom: 2.5rem;
      @include typography.typography-body-6;
    }

    .publicationDate {
      font-weight: variables.$bold;

      &--blog {
        padding-bottom: 0.5rem;
      }
    }
  }
}

.search {
  width: 100vw;
}