.filter-item {
  padding: 1rem 2rem;
  @include typography-body-6;
  select {
    @include typography-body-6;
    height: 2rem;
    background-color: var($--theme-background);
    color: var($--theme-on-surface);
  }
}

.filters,
.filter-bar {
  &.notched--border {
    display: grid;
  }

  &__filter {
    // margin-right: 1rem;
    &:after {
      content: 'expand_more';
      @extend .u-material-icons;
      vertical-align: middle;
      margin-top: -2px;
      margin-left: 5px;
    }

    &--clear {
    }
  }
}

.list {
  .list-item {
    min-height: 22rem;
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint($medium-only) {
      min-height: 15rem;
    }
    .title {
      font-size: 1.7rem;
      font-weight: 600;
      overflow-wrap: break-word;
    }
    .type { 
      bottom: 2.5rem;
      @include typography-body-6;
    }
  }
}

.search {
  width: 100vw;
}
