@use 'variables';
@use 'colors';

.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0 - variables.$nav-width;
  width: variables.$nav-width;
  transition: left 0.2s ease-in;
  background-color: -theme-surface;
  z-index: 1;

  &.active {
    left: 0;
    visibility: visible;
  }

  .home-icon {
    z-index: 1;
    color: --theme-on-primary;
    position: absolute;
    top: 1rem;
    right: 3rem;
    width: 5rem;
    font-size: 2rem;
    max-width: 2rem;

    span {
      padding: 16px 4px;
    }
  }

  .main-nav__links-wrapper {
    padding-top: 6rem;

    .link {
      color: --theme-on-primary;
      padding: 0.5rem 5rem 1rem;
      font-size: 1.3rem;
      text-align: left;
      transition: 0.4s ease;
      text-decoration: none;
      font-weight: bold;
      display: block;

      &:hover,
      &:focus {
        color: colors.$red;
      }
    }
  }

  .close-nav {
    z-index: 1;
    cursor: pointer;
    color: --theme-on-primary;
    font-size: 2rem;
    position: absolute;
    right: 4px;
    top: 1rem;
    padding: 12px 4px;
  }
}

.main-nav button {
  border-radius: 0;
}

.nav-is-active {
  z-index: 1;
}

.navbar-a {
  transform: translateX(0);
  transition: transform 0.2s ease-in;
}

.nav-is-active .navbar-a {
  transform: translateX(variables.$nav-width);
}
