@use 'variables';

#map {
  svg#map-svg {
    width: 100%;
    height: 100%;
  }
}
path.clickable {
  cursor: pointer;
}
.loading {
  height: 2rem;
  
    visibility: hidden;
  
  &.visible {
    visibility: visible;
  }
}
.tooltip {
  width: 10rem;
  max-width: 10rem;
  display: none;
  transition: display .4s ease-in-out .4s;
  // background: var($--theme-background); TK
  // color: var($--theme-on-background); TK
  // border: solid 1px var($--theme-on-background); TK
  background: hotpink;
  color: hotpink;
  border: solid 1px hotpink;
  border-radius: 2px;
  padding: 4px;
  position: absolute;
}

.tooltip.visible {
  display: block;
}

.legend {
  // color: var($--theme-on-background); TK
  color: hotpink;
}

#map-legend {
  width: 100%;
}
a.be-the-first {
  display: block;
  font-weight: variables.$bold;
}