.markdown-content,
.richtext-content {

  h2 {
    @include typography-headline-3;
    margin: 1rem 0;
  }

  h3 {
    @include typography-headline-4;
  }

  h4 {
    @include typography-headline-5;
  }

  h2,
  h3,
  h4 {
    font-weight: $bold;
  }

  p {
    padding: 1rem 0;
  }

  .font-bold {
    font-weight: $bold;
  }

  a {
    border-bottom: 1px dotted;
  }
}

.richtext-content {
  .figure-container {
    padding: 2rem 2rem 0 2rem;

    h4 {
      @include typography-body-4;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}