@use 'breakpoints';
@use 'typography';
@use 'variables';

.featured-work {
  @include breakpoints.breakpoint(large) {
    padding: 4rem 10rem 2rem 10rem;
  }

  h3 {
    @include typography.typography-headline-3;
  }

  h4 {
    @include typography.typography-body-4;
    font-weight: variables.$bold;
    padding: 0.5rem 0 1.5rem 0;
  }

  a {
    margin-top: 2.5rem;
  }

  &__img {
    text-align: center;

    @include breakpoints.breakpoint(medium-only) {
      padding: 2rem 5rem 2rem 5rem;
    }
  }
}