@use 'breakpoints';
@use 'typography';
@use 'variables';
@use 'mixins';

.profile {
  padding: 0;

  &__type {
    @include typography.typography-body-3;
    font-weight: variables.$bold;
    text-transform: uppercase;

    @include breakpoints.breakpoint(medium-only) {
      padding-top: 2rem;
    }
  }

  &__title {
    font-weight: variables.$bold;
    @include typography.typography-headline-3;
  }
}

.links-container {
  margin-top: 1rem;

  a {
    margin-bottom: 1rem;
  }
}

.resource-wrapper {
  &:hover {
    @include mixins.notched-div-hover-state;
  }
}

.resource {
  @include typography.typography-body-5;
  font-weight: variables.$bold;
  word-wrap: break-word;
  min-height: 18rem;
}

.profile-certification {
  min-height: 18rem;

  p {
    @include typography.typography-body-5;
    font-weight: variables.$bold;
    font-size: 50px;
    word-wrap: break-word;
  }

  @include typography.typography-body-5;
  font-weight: variables.$bold;
  word-wrap: break-word;
}

.video-container {
  padding: 2rem 0;
  display: none;

  &--large {
    @include breakpoints.breakpoint(large) {
      display: block;
      padding-top: 3rem;
    }
  }

  &--medium-small {
    @include breakpoints.breakpoint(medium-only) {
      display: block;
    }
  }

  &__title {
    @include typography.typography-body-5;
    font-weight: variables.$bold;
  }

  &__video {
    position: relative;
    margin: 1rem 0;
    aspect-ratio: 16/9;
    width: 100%;

    @include breakpoints.breakpoint(medium-only) {
      height: 30rem;
    }

    @include breakpoints.breakpoint(small-only) {
      height: 15rem;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.profile-resource-card {
  min-height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @include breakpoints.breakpoint(medium-only) {
    min-height: 15rem;
  }

  .title {
    font-size: 1.7rem;
    font-weight: 600;
    overflow-wrap: break-word;
  }

  .type {
    bottom: 2.5rem;
    @include typography.typography-body-6;
  }
}
