$primary-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Noto Sans', serif;

// used in project count 
@mixin typography-headline-1 {
  font-family: $primary-font;
  font-size: 120px;
  font-weight: $bold;
}

// used in generic header 
@mixin typography-headline-2 {
  font-family: $primary-font;
  font-size: 80px;
  font-weight: $bold;
  line-height: 1.2;
}

// used in featured box h2 and section card h2
@mixin typography-headline-3 {
  font-family: $primary-font;
  font-size: 50px;
  font-weight: $bold;
  line-height: 1.2;
}

@mixin typography-headline-4 {
  font-family: $primary-font;
  font-size: 34px;
}

@mixin typography-headline-5 {
  font-family: $primary-font;
  font-size: 24px;
}

@mixin typography-headline-6 {
  font-family: $primary-font;
  font-size: 20px;
}

@mixin typography-body-1 {
  font-family: $secondary-font;
  font-size: 48px;
}

// used for noto sans headers
@mixin typography-body-2 {
  font-family: $secondary-font;
  font-size: 30px;
}

// default p state in body 
@mixin typography-body-3 {
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: $regular;
}

// used for noto sans profile
@mixin typography-body-4 {
  font-family: $secondary-font;
  font-size: 25px;
}



// noto sans profile resource titles
@mixin typography-body-5 {
  font-family: $secondary-font;
  font-size: 26px;
}

// noto sans 24px dropdown and types 
@mixin typography-body-6 {
  font-family: $secondary-font;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: $bold;
}

@mixin typography-subtitle-1 {
  font-family: $primary-font;
  font-size: 16px;
}

@mixin typography-subtitle-2 {
  font-family: $primary-font;
  font-size: 14px;
}

// used for arrow links 
@mixin typography-button {
  font-family: $secondary-font;
  font-size: 18px;
}

@mixin typography-overline {
  font-family: $secondary-font;
  font-size: 13px;
}

@mixin typography-caption {
  font-family: $secondary-font;
  font-size: 16px;
}