$primary-font: 'Antonio', sans-serif;
$secondary-font: 'Noto Sans', serif;

// used in project count 
@mixin typography-headline-1 {
  font-family: $primary-font;
  font-size: 97px;
}
// used in generic header 
@mixin typography-headline-2 {
  font-family: $primary-font;
  font-size: 60px;
}

// used in featured box h2 and section card h2
@mixin typography-headline-3 {
  font-family: $primary-font;
  font-size: 38px;
}

@mixin typography-headline-4 {
  font-family: $primary-font;
  font-size: 34px;
}

@mixin typography-headline-5 {
  font-family: $primary-font;
  font-size: 24px;
}

@mixin typography-headline-6 {
  font-family: $primary-font;
  font-size: 20px;
}

@mixin typography-body-1 {
  font-family: $secondary-font;
  font-size: 48px;
}

// used for noto sans headers
@mixin typography-body-2 {
  font-family: $secondary-font;
  font-size: 24px;
}

// default p state in body 
@mixin typography-body-3 {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: $regular;
}


@mixin typography-subtitle-1 {
  font-family: $primary-font;
  font-size: 16px;
}

@mixin typography-subtitle-2 {
  font-family: $primary-font;
  font-size: 14px;
}

// used for arrow links 
@mixin typography-button {
  font-family: $secondary-font;
  font-size: 18px;
}

@mixin typography-overline {
  font-family: $secondary-font;
  font-size: 13px;
}

@mixin typography-caption {
  font-family: $secondary-font;
  font-size: 16px;
}