@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and
  (
    max-width: 39.9375em,
  );
$touch: screen and
  (
    max-width: 64em,
  );
$medium: screen and
  (
    min-width: 40em,
  );
$medium-only: screen and
  (
    min-width: 40em,
  )
  and
  (
    max-width: 63.9375em,
  );
$large: screen and
  (
    min-width: 64em,
  );

@import 'breakpoint';
@import 'utils';
@import 'colors';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'toggle';
@import 'top-bar';
@import 'menu';
@import 'navbar-a';
@import 'main-nav-a';
@import 'dark-mode-toggle';
@import 'notched-div';
@import 'people-template';
@import 'link';
@import 'index';
@import 'generic-header';
@import 'people';
@import 'heading';

body {
  background-color: var($--theme-background);
  color: var($--theme-on-surface);
  p {
    @include typography-body-3;
  }
}
