* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$between-large: screen and (min- width: 1024px) and (max-width: 1260px);
$large: screen and (min-width: 64em);
$nav-width: 320px;

@import 'breakpoint';
@import 'utils';
@import 'colors';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'toggle';
@import 'top-bar';
@import 'menu';
@import 'navbar-a';
@import 'main-nav-a';
@import 'dark-mode-toggle';
@import 'notched-div';
@import 'people-template';
@import 'link';
@import 'index';
@import 'generic-header';
@import 'profile';
@import 'heading';
@import 'list';
@import 'resource';
@import 'markdown';
@import 'fixed-nav';
@import 'toc';
@import 'footer';
@import 'button';
@import 'map';
@import 'program';
@import 'events';
@import 'generic-page';

body {
  overflow-x: hidden;
}

main,
footer {
  transition: transform 0.2s ease-in;

  &.active {
    transform: translateX($nav-width);
  }
}

body {
  background-color: var($--theme-background);
  color: var($--theme-on-surface);

  p {
    @include typography-body-3;
  }
}

ul[role='menu'] {
  visibility: hidden;
}

ul[role='menu'].visible {
  visibility: visible;
}

// div {outline: red solid 1px;}

