@use 'sass:meta';
@use 'typography';
@use 'variables';

* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and
  (
    max-width: 39.9375em,
  );
$touch: screen and
  (
    max-width: 64em,
  );
$medium: screen and
  (
    min-width: 40em,
  );
$medium-only: screen and
  (
    min-width: 40em,
  )
  and
  (
    max-width: 63.9375em,
  );
$between-large: screen and (min- width: 1024px) and
  (
    max-width: 1260px,
  );
$large: screen and
  (
    min-width: 64em,
  );
$nav-width: 320px;

@include meta.load-css('breakpoints');
@include meta.load-css('utils');
@include meta.load-css('colors');
@include meta.load-css('variables');
@include meta.load-css('mixins');
@include meta.load-css('typography');
@include meta.load-css('toggle');
@include meta.load-css('top-bar');
@include meta.load-css('menu');
@include meta.load-css('navbar-a');
@include meta.load-css('main-nav-a');
@include meta.load-css('dark-mode-toggle');
@include meta.load-css('notched-div');
@include meta.load-css('people-template');
@include meta.load-css('link');
@include meta.load-css('index');
@include meta.load-css('generic-header');
@include meta.load-css('profile');
@include meta.load-css('heading');
@include meta.load-css('list');
@include meta.load-css('resource');
@include meta.load-css('markdown');
@include meta.load-css('fixed-nav');
@include meta.load-css('toc');
@include meta.load-css('footer');
@include meta.load-css('button');
@include meta.load-css('map');
@include meta.load-css('program');
@include meta.load-css('events');

body {
  overflow-x: hidden;
}

main,
footer {
  transition: transform 0.2s ease-in;

  &.active {
    transform: translateX($nav-width);
  }
}

body {
  background-color: var(variables.$theme-background);
  color: var(variables.$theme-on-surface);
  p {
    @include typography.typography-body-3;
  }
}

ul[role='menu'] {
  visibility: hidden;
}

ul[role='menu'].visible {
  visibility: visible;
}
